services:
  db:
    image: mysql:8.0
    container_name: mijnloonstrookje_db
    restart: always
    environment:
      MYSQL_DATABASE: mijnloonstrookje
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_HOST: "%"  
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: mijnloonstrookje_pma
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      UPLOAD_LIMIT: 64M
    ports:
      - "8080:80"
    depends_on:
      - db
  
  mailhog:
    image: mailhog/mailhog
    container_name: mijnloonstrookje_mailhog
    restart: always
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
    depends_on:
      - db

volumes:
  db_data: