table{
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
}

th{
    color:#8E8E8E;
    font-weight: 400;
    font-size: 13px;
    padding-block: 8px;
}

td{
    font-size: 14px;
    padding-block: 8px;
}

th, td {
    padding-inline: 14px;
    text-align: left;
}

tr{
    border-bottom: 1px solid #D4D4D4;
}

tbody tr:nth-last-child(1){
    border-bottom: none;
}

.icon-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0;
}

.icon-cell form{
    display: flex;
}

.icon-cell button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.icon-cell svg {
    display: block;
}

.document-action-view {
    color: #3B82F6;
}

.document-action-download {
    color: #10B981;
}

.document-action-edit {
    color: #F59E0B;
}

.document-action-delete {
    color: #EF4444;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon-table-delete {
    color: #EF4444;
}

tbody tr:hover {
    background-color: var(--light-bg-color);
}