@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import './style.css';
@import './component/nav.css';
@import './component/status.css';
@import './tabellen/employees.css';
@import './showcase/showcase.css';
@import './administratiekantoor/adminOfficeStyling.css';
@import './documents/documentsStyling.css';
@import './employee/employeeStyling.css';
@import './employer/employerStyling.css';
@import './superadmin/superadminStyling.css';
@import './registration/registration.css';


:root {
  --font-body: 'body', ui-sans-serif, system-ui, sans-serif;

  .subscription-tile p,
  .subscription-tile input {
    font-size: 1rem;
    line-height: 1.5;
  }

  --font-body-medium: 'body-medium',
  ui-sans-serif,
  system-ui,
  sans-serif;
  --font-body-bold: 'body-bold',
  ui-sans-serif,
  system-ui,
  sans-serif;
  --font-heading: 'head',
  ui-sans-serif,
  system-ui,
  sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  font-weight: bold;
}

h4 {
  font-size: 30px;
  font-weight: bold;
}

p,
span,
div,
a,
li,
td,
th,
input,
button,
select,
textarea {
  font-family: var(--font-body);
}

p,
span,
div,
a,
li,
td,
th {
  font-size: 18px;
}

input,
button,
select,
textarea {
  font-size: 22px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--primary-color);
}

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */
@font-face {
  font-family: 'body';
  src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'body-medium';
  src: url('../fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'body-bold';
  src: url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'head';
  src: url('../fonts/Alexandria-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}