.content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 3rem;
    background-color: #F6F7F8;
}

h1, h2, h3, h4, h5, h6 {
    color: #121826;
}

.main-side-nav {
    width: 350px;
    background-color: white;
    border-right: #3B7DE4 3px solid;
    color: #121826;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main-side-nav .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-side-nav .nav-tabs {
    display: flex;
    flex-direction: column;
}

.main-side-nav .nav-tabs a {
    color: #121826;
    font-family: var(--font-body-medium);
    text-decoration: none;
    font-size: 22px;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
}

.main-side-nav .logout-button {
    font-size: 18px;
}

.main-content {
    margin-left: 350px;
    width: calc(100% - 350px);
    padding: 4rem;
}

.main-content table {
    box-shadow: 0 16px 32px 16px rgba(0, 0, 0, 0.15);
}