.content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #121826;
}

.main-side-nav {
    width: 350px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main-side-nav .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-side-nav .nav-tabs {
    display: flex;
    flex-direction: column;
}

.main-side-nav .nav-tabs a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 32px;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
}

.main-content {
    margin-left: 350px;
    width: calc(100% - 350px);
    padding: 1rem;
}