.content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 1.5rem;
}

.main-side-nav {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main-side-nav .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-side-nav .nav-tabs {
    display: flex;
    flex-direction: column;
}